<!DOCTYPE html>
<html>
<head>
  <title>Logeame</title>
  <%= stylesheet_link_tag    "logeame/application", :media => "all" %>
  <%= javascript_include_tag "logeame/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
